<mat-toolbar color="primary">
  Shortify

  <div class="align-right">
    <mat-icon mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="text-center">
      <a href="https://github.com/babitabisht">
        <i style="font-size: 40px" class="fab fa-github"></i
      ></a>
    </button>
    <button mat-menu-item class="text-center">
      <a href="linkedin.com/in/babitabisht_6"
        ><i style="font-size: 50px" class="fab fa-linkedin"></i
      ></a>
    </button>
  </mat-menu>
</mat-toolbar>
